<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30326985-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-30326985-1');
	</script>

	<title>$$TITLE$$</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/res/global.css">
	<meta name="description" content="$$DESCRIPTION$$">
	<meta name="keywords" content="programming, c#, c++, unity">
	<meta name="author" content="Thomas Hope">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Open Graph / Facebook / Twitter cards -->
	<meta property="og:title" content="$$TITLE$$">
	<meta property="og:url" content="$$URL$$">
	<meta property="og:description" content="$$DESCRIPTION$$">
	<meta property="og:image" content="https://thomashope.xyz$$IMAGE$$">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thope_xyz" />
	<meta name="twitter:creator" content="@thope_xyz" />
	<meta name="twitter:image" content="https://thomashope.xyz$$IMAGE$$" />

	<!-- Favicon -->
	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
	<link rel="manifest" href="/site.webmanifest" />
</head>
</head>
<body>
<header>
<nav>
	<a href="/">Home</a>
	<a href="/shop">Shop</a>
	<a href="/" id="site-title">Thomas Hope</a>
</nav>
</header>
<hr style="clear: both;">

